// Cambia il colore dei link globali
a {
  color: #A71C1C; // Sostituisci con il colore che preferisci
}

// Cambia il colore dei link nel menu laterale di Just the Docs, se vuoi personalizzare solo quelli
.nav-list .nav-list-item .nav-list-link {
  color: #A71C1C; // Esempio: Roof Terracotta
}

// Cambia colore al passaggio del mouse
a:hover, 
.nav-list .nav-list-item .nav-list-link:hover {
  color: #A71C1C; // Esempio: arancione
}
