@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, .site-nav, .site-header, .site-footer, .main-content{
  font-family: 'Mozilla Text', sans-serif !important;
}

.theme-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  padding: 0.5rem;
  color: var(--body-text-color);
}

/* Aumenta dimensione del testo nella navigation */
.nav-list .nav-list-item .nav-list-link {
  font-size: 10px; /* Cambia il valore a piacere */
}
